@using StartSch.Data

<div class="post">
    <h1>@Post.Title</h1>
    <div style="display: flex; align-items: center; gap: 8px">
        <div class="tags" style="margin: 2px 0">
            @foreach (var group in Post.Groups)
            {
                <div>@(group.PincerName ?? group.PekName)</div>
            }
        </div>
        <span style="color: var(--md-sys-color-on-surface-variant); margin-left: 2px">
            <DateDisplay DateUtc="@Post.PublishedUtc"/>
        </span>
        @if (Post.Id != 0)
        {
            <AuthorizeView Policy="Write" Resource="@Post">
                <a href="/posts/@Post.Id/edit">
                    <icon>edit</icon>
                </a>
            </AuthorizeView>
        }
    </div>
    <div class="content">
        @((MarkupString)_content.HtmlContent)
    </div>
</div>

@code {
    private TextContent _content = null!;

    [Parameter, EditorRequired] public required Post Post { get; set; }

    protected override void OnParametersSet()
    {
        _content = new(Post.ContentMarkdown ?? "", Post.ExcerptMarkdown);
    }

}