@page "/events/{EventId:int}/edit"
@using NodaTime.Extensions
@using StartSch.Services
@inject IDbContextFactory<Db> DbFactory
@inject NavigationManager Navigation
@inject IServiceProvider ServiceProvider
@inherits ResourcePage
@rendermode InteractiveServerWithoutPrerendering

@if (!IsResourceAvailable(_event, ResourceAccessRequirement.Write, out var unavailableStatus))
{
    <ResourceUnavailable Status="@unavailableStatus"/>
    return;
}

@{
    Instant currentInstant = SystemClock.Instance.GetCurrentInstant();
}

<div style="display: flex; gap: 32px">
    <div style="flex: 1">
        @if (_event.Id == 0)
        {
            <Title>Új esemény</Title>
        }
        else
        {
            <Title>Esemény szerkesztés</Title>
        }

        <EditForm Model="@_model" OnValidSubmit="@OnValidSubmit" FormName="EventEditor">

            <div style="margin-top: 8px">
                <label>
                    <span style="display: block">
                        Cím
                    </span>
                    <InputText @bind-Value="@_model.Title" class="block"/>
                </label>
            </div>

            <div>
                <label>
                    <span style="display: block">
                        Szülő esemény
                    </span>
                    <InputSelect @bind-Value="@_model.ParentId">
                        <option value=""></option>
                        @foreach (var e in _possibleParents)
                        {
                            <option value="@e.Id">
                                @e.Title
                                @if (e.Start.HasValue)
                                {
                                    @: - @DateFormatter.Format(e.Start.Value, e.End, currentInstant)
                                }
                            </option>
                        }
                    </InputSelect>
                </label>
            </div>

            <div style="margin-top: 8px">
                <label>
                    <span style="display: block">
                        Kezdete
                    </span>
                    <InputDate TValue="@(DateTime?)" @bind-Value="@_model.Start" Type="@InputDateType.DateTimeLocal"/>
                </label>
            </div>

            <div style="margin-top: 8px">
                <label>
                    <span style="display: block">
                        Vége
                    </span>
                    <InputDate TValue="@(DateTime?)" @bind-Value="@_model.End" Type="@InputDateType.DateTimeLocal"/>
                </label>
            </div>

            <div style="margin-top: 8px">
                <label>
                    <span style="display: block">
                        Leírás
                        <small>(Markdown/HTML)</small>
                    </span>
                    <InputTextArea
                        style="min-height: 256px; font-family: monospace"
                        @bind-Value="@_model.DescriptionMarkdown"/>
                </label>
            </div>

            <div style="display: flex; gap: 8px; margin-top: 8px">
                <md-filled-button type="submit" disabled="@_isBusy">
                    Mentés
                </md-filled-button>

                @if (EventId != 0)
                {
                    <md-text-button href="@($"/events/{_event.Id}/delete")" class="error" disabled="@_isBusy">
                        Törlés
                    </md-text-button>
                }
            </div>
        </EditForm>
    </div>

    <div class="edit-preview-container" style="flex: 1; align-self: flex-start;">

        @{
            _event.Start = _model.Start?.ToLocalDateTime().InZoneLeniently(Utils.HungarianTimeZone).ToInstant();
            _event.End = _model.End?.ToLocalDateTime().InZoneLeniently(Utils.HungarianTimeZone).ToInstant();
            _event.Title = _model.Title;
            _event.DescriptionMarkdown = _model.DescriptionMarkdown;
        }
        <EventEditPreview Event="@_event"/>

    </div>
</div>

@code {

    private Event? _event;
    private readonly List<Event> _possibleParents = [];
    private readonly EventEditModel _model = new();
    private bool _isBusy;

    [Parameter] public int EventId { get; set; }
    [SupplyParameterFromQuery(Name = "categories")] public string? CategoryIds { get; set; }
    [SupplyParameterFromQuery(Name = "parent")] public int? ParentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbFactory.CreateDbContextAsync();

        if (EventId == 0) // new event
        {
            Event? parent = ParentId.HasValue
                ? await db.Events
                    .Include(p => p.Categories)
                    .ThenInclude(c => c.Page)
                    .FirstOrDefaultAsync(e => e.Id == ParentId)
                : null;

            Event newEvent = new()
            {
                Start = SystemClock.Instance.GetCurrentInstant(),
                Title = "",
                ParentId = parent?.Id,
                Parent = parent,
            };

            if (string.IsNullOrEmpty(CategoryIds))
                return;

            List<int> categoryIds = CategoryIds.Split(',').Select(int.Parse).ToList();

            List<Category> categories = await db.Categories
                .Where(g => categoryIds.Contains(g.Id))
                .ToListAsync();
            newEvent.Categories.AddRange(categories);

            _event = newEvent;
        }
        else // editing
        {
            _event = await db.Events
                .Include(e => e.Parent)
                .Include(e => e.Categories)
                .ThenInclude(c => c.Page)
                .FirstOrDefaultAsync(e => e.Id == EventId);
            if (_event == null)
                return;
        }

        _model.Start = (_event.Start ?? SystemClock.Instance.GetCurrentInstant())
            .InZone(Utils.HungarianTimeZone)
            .ToDateTimeUnspecified();
        _model.End = _event.End?
                         .InZone(Utils.HungarianTimeZone)
                         .ToDateTimeUnspecified()
                     ?? _model.Start;
        _model.Title = _event.Title;
        _model.DescriptionMarkdown = _event.DescriptionMarkdown;
        if (_event.Parent != null)
        {
            _possibleParents.Add(_event.Parent);
            _model.ParentId = _event.Parent.Id;
        }
    }

    private async Task OnValidSubmit()
    {
        if (_isBusy) return;
        _isBusy = true;

        await using var scope = ServiceProvider.CreateAsyncScope();
        var eventService = scope.ServiceProvider.GetRequiredService<EventService>();

        Event savedEvent = await eventService.Save(
            await User,
            EventId,
            _event!.ParentId,
            _event.Categories.Select(e => e.Id).ToList(),
            _model.Title,
            _model.DescriptionMarkdown,
            _model.Start?.ToLocalDateTime().InZoneLeniently(Utils.HungarianTimeZone).ToInstant(),
            _model.End?.ToLocalDateTime().InZoneLeniently(Utils.HungarianTimeZone).ToInstant()
        );

        Navigation.NavigateTo($"/events/{savedEvent.Id}");
    }

    private class EventEditModel
    {
        public DateTime? Start
        {
            get;
            set
            {
                var oldVal = field;
                field = value;
                UpdateEnd(oldVal);
            }
        }

        public DateTime? End { get; set; }
        public int? ParentId { get; set; }
        [Length(1, 100)] public string Title { get; set; } = "";
        [MaxLength(20000)] public string? DescriptionMarkdown { get; set; }

        private void UpdateEnd(DateTime? oldStart)
        {
            if (oldStart == null || End == null)
                return;
            TimeSpan eventLength = End.Value - oldStart.Value;
            End = Start + eventLength;
        }
    }

}
