@page "/"
@using System.Globalization
@using StartSch.Modules.SchPincer
@inject IEnumerable<IModule> Modules
@inject SchPincerModule SchPincerModule

<PageTitle>StartSCH</PageTitle>

<aside style="float: right; max-width: min(400px, 25%)">
    <h2>Nyitások</h2>
    @foreach (var opening in SchPincerModule.Openings)
    {
        <article style="margin-bottom: 32px">
            <h3 style="margin: 0 0 12px 0">
                @if (opening.Title != null)
                {
                    @opening.Title
                }
            </h3>
            <div style="margin-bottom: 12px">
                <span class="tag">
                    @opening.Group
                </span>
            </div>
            @opening.Start.ToLocalTime().ToString("F", new CultureInfo("hu"))
        </article>
    }
</aside>

<main>
    @foreach (var post in Modules.SelectMany(m => m.Posts))
    {
        <article>
            <h2>@post.Title</h2>
            <div class="tags">
                @foreach (var tag in post.Tags)
                {
                    <div>@tag</div>
                }
            </div>
            <p>
                @post.Excerpt
            </p>
        </article>
    }
    <div style="height: 64px"></div>
    <LogInOrOut />
    <UserClaims />
</main>