@page "/"
@using Microsoft.EntityFrameworkCore
@using StartSch.Data
@using Opening = StartSch.Data.Opening
@inject IEnumerable<IModule> Modules
@inject Db Db

<PageTitle>StartSCH</PageTitle>

@{
    DateTime utcNow = DateTime.UtcNow;
}

<aside style="float: right; max-width: min(400px, 25%)">
    <h2>Nyitások</h2>
    @foreach (var opening in _openings)
    {
        <article style="margin-bottom: 32px">
            <h3 style="margin: 0 0 12px 0">
                @opening.Title
            </h3>
            <div style="margin-bottom: 12px">
                <span class="tag">
                    @opening.Group.PincerName
                </span>
            </div>

            @if (opening.StartUtc < utcNow)
            {
                <span style="font-weight: bold; color: var(--md-sys-color-tertiary)">
                    @Utils.FormatDateRange(opening.StartUtc, opening.EndUtc)
                </span>
            }
            else
            {
                @Utils.FormatDateRange(opening.StartUtc, opening.EndUtc)
            }
        </article>
    }

    <a href="/openings">Korábbi nyitások</a>
</aside>

<main>
    @foreach (var post in Modules.SelectMany(m => m.Posts))
    {
        <article>
            <h2>@post.Title</h2>
            <div class="tags">
                @foreach (var tag in post.Tags)
                {
                    <div>@tag</div>
                }
            </div>
            <p>
                @post.Excerpt
            </p>
        </article>
    }
    <div style="height: 64px"></div>
    <LogInOrOut/>
    <UserClaims/>
</main>

@code {
    private List<Opening> _openings = [];

    protected override async Task OnInitializedAsync()
    {
        DateTime start = DateTime.UtcNow.AddHours(-2);
        _openings = await Db.Openings
            .Include(o => o.Group)
            .Where(o => o.StartUtc > start)
            .OrderBy(o => o.StartUtc)
            .ToListAsync();
    }

}