@page "/pages/{PageId:int}"

@using StartSch.Services

@layout MainLayout
@inherits ResourcePage<Page>

@inject Db Db
@inject InterestService InterestService
@inject AuthorizationService AuthorizationService

@if (!IsResourceAvailable(_page, AuthorizationService.CanRead, out var status))
{
    <ResourceUnavailable Status="@status"/>
    return;
}

<main>
    <article class="post">
        <header class="display">
            <Title>@(_page.GetName())</Title>
        </header>

        <page-interests page="@_page.Id">
            <ul class="label-list">
                @if (_page.PekId.HasValue)
                {
                    <li class="label">
                        <md-icon>account_circle</md-icon>
                        <a href="https://pek.sch.bme.hu/groups/@_page.PekId">
                            PéK
                            <span style="color: var(--md-sys-color-outline); font-weight: 400">/</span>
                            @(_page.PekName ?? _page.PekId.ToString())
                        </a>
                    </li>
                }

                @if (_page.PincerId.HasValue)
                {
                    <li class="label">
                        <md-icon>restaurant</md-icon>
                        <a href="https://schpincer.sch.bme.hu/provider/@_page.PincerId">
                            SCH-Pincér
                            <span style="color: var(--md-sys-color-outline); font-weight: 400">/</span>
                            @(_page.PincerName ?? _page.PincerId.ToString())
                        </a>
                    </li>
                }

                @if (_page.ExternalUrl is { } url)
                {
                    <li class="label">
                        <md-icon>link_2</md-icon>
                        <a href="@url">
                            @url.TryRemoveFromStart("https://").ToString()
                        </a>
                    </li>
                }
            </ul>
        </page-interests>

        @{
            var canCreateEvent = AuthorizationService.CanCreateEvent(_page);
            var canCreatePost = AuthorizationService.CanCreatePost(_page);
        }
        @if (canCreateEvent || canCreatePost)
        {
            <div style="margin-top: 16px; display: flex; gap: 8px">
                @{
                    var defaultCategory = _page.Categories.Single(c => c.Name == null);
                }
                @if (canCreateEvent)
                {
                    <expressive-button href="@($"/events/0/edit?categories={defaultCategory.Id}")" class="small filled round">
                        <md-icon slot="icon">calendar_add_on</md-icon>
                        <span>
                            Új esemény
                        </span>
                    </expressive-button>
                }
                @if (canCreatePost)
                {
                    <expressive-button href="@($"/posts/0/edit?categories={defaultCategory.Id}")" class="small tonal round">
                        <md-icon slot="icon">chat_add_on</md-icon>
                        Új poszt
                    </expressive-button>
                }
            </div>
        }
    </article>

    <hr>

    <section>
        <h2>Történet</h2>
        @foreach (object item in _items)
        {
            <div @key="@GetKey(item)">
                @switch (item)
                {
                    case Post post:
                        <PostPreview Post="@post" KnownPageId="@PageId"/>
                        break;
                    case Event e:
                        <EventPreviewTree Event="@e" KnownPageId="@PageId"/>
                        break;
                }
            </div>
        }
    </section>
</main>

@code {
    private Page? _page;
    private readonly List<object> _items = [];
    private readonly Instant currentInstant = SystemClock.Instance.GetCurrentInstant();
    [Parameter] public int PageId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InterestService.LoadIndex;

        _page = await Db.Pages.FirstOrDefaultAsync(g => g.Id == PageId);
        if (_page == null)
            return;

        var postsAndEvents = await Db
            .SelectPostsAndEventsInCategories(
                CategoryUtils
                    .FlattenIncludedCategories(_page.Categories)
                    .Select(c => c.Id)
            )
            .OrderByDescending(x => x.Date)
            .ToListAsync();

        var postIds = postsAndEvents.Where(x => x.PostId != 0).Select(x => x.PostId);
        var eventIds = postsAndEvents.Where(x => x.EventId != 0).Select(x => x.EventId);

        var posts = await Db.Posts
            .WhereUserCanRead(currentInstant, AuthorizationService)
            .Include(p => p.PostCategories)
            .Where(p => postIds.Contains(p.Id))
            .Include(p => p.Event)
            .OrderBy(p => p.Published.HasValue) // drafts first
            .ThenByDescending(p => p.Published)
            .ThenByDescending(p => p.Created) // order drafts
            .ToListAsync();

        var events = await Db.Events
            .Where(e => eventIds.Contains(e.Id))
            .Include(e => e.EventCategories)
            .OrderByDescending(e => e.Start)
            .ToListAsync();

        _items.AddRange(posts.Where(p => p.Event == null));
        _items.AddRange(events.Where(e => e.Parent == null));

        _items.Sort((a, b) => GetDate(b).CompareTo(GetDate(a)));
    }

    private static Instant GetDate(object item) => item switch
    {
        Post post => post.Published ?? post.Created,
        Event @event => @event.Start ?? @event.Created,
        _ => throw new InvalidOperationException()
    };

    private static int GetKey(object item) => item switch
    {
        Post post => post.Id,
        Event @event => int.MaxValue - @event.Id,
        _ => throw new InvalidOperationException()
    };

}
