@using System.Globalization
@using NodaTime

@if (EditContext != null)
{
    <div class="selected-event">
        <md-icon-button @onclick="@CloseCallback" style="float: right">
            <md-icon>
                close
            </md-icon>
        </md-icon-button>
        @EditContext.SourceEvent.Title

        <div class="selected-event-settings">
            @if (EditContext.Series is [_, ..] series)
            {
                @:Események kiválasztása
                <connected-button-select
                    value="@(_selectedDates.Count == EditContext.Series.Count
                               ? EventSelection.All
                               : _selectedDates.Count == 1 && _selectedDates.Contains(EditContext.SourceEvent.Start)
                                   ? EventSelection.One
                                   : null)">
                    <connected-button-select-option
                        value="@EventSelection.One"
                        @onclick="@(() =>
                                  {
                                      _selectedDates.Clear();
                                      _selectedDates.Add(EditContext.SourceEvent.Start);
                                  })">
                        Csak ez
                    </connected-button-select-option>
                    <connected-button-select-option
                        value="@EventSelection.All"
                        @onclick="@(() => { _selectedDates.UnionWith(EditContext.Series.Select(x => x.Start)); })">
                        Mindegyik ebben a sorozatban
                    </connected-button-select-option>
                </connected-button-select>

                <div
                    style="display: flex; align-items: start; margin-top: 8px; gap: 8px; overflow-x: auto; max-width: 100%; min-width: 0">
                    <span style="font-size: 14px">
                        Kiválasztott:
                    </span>
                    <md-chip-set style="display: inline-flex; flex-wrap: nowrap">
                        @foreach (var option in series)
                        {
                            var date = option.Start;
                            var isSelected = _selectedDates.Contains(date);
                            <md-filter-chip
                                @key="@date"
                                label="@option.Start.InZone(SharedUtils.HungarianTimeZone).ToString("MM. dd. HH:mm", CultureInfo.InvariantCulture)"
                                @onclick="@(() =>
                                          {
                                              if (isSelected) _selectedDates.Remove(date);
                                              else _selectedDates.Add(date);
                                          })"
                                selected="@isSelected"
                            />
                        }
                    </md-chip-set>
                </div>

                <hr/>
            }

            Kategória módosítása
            <connected-button-select
                value="@EditContext.ModifiedEvent.CategoryCalendarId"
                @onchange="@(ev => UpdateCategoryCallback.InvokeAsync((_selectedDates, int.Parse((string)ev.Value!))))">
                @foreach (var category in Categories)
                {
                    <connected-button-select-option @key="@category.Id" value="@category.Id">
                        @category.Name
                    </connected-button-select-option>
                }
            </connected-button-select>
        </div>
    </div>
}

@code {
    private readonly HashSet<Instant> _selectedDates = [];

    [Parameter, EditorRequired]
    public EventEditContext? EditContext
    {
        get;
        set
        {
            if (field == value)
                return;
            field = value;
            _selectedDates.Clear();
            if (value == null) return;
            _selectedDates.Add(value.SourceEvent.Start);
        }
    }

    [Parameter, EditorRequired] public List<PersonalStartSchCalendarLive> Categories { get; set; }
    [Parameter, EditorRequired] public EventCallback CloseCallback { get; set; }
    [Parameter, EditorRequired] public EventCallback<(HashSet<Instant> Dates, int NewCategoryId)> UpdateCategoryCallback { get; set; }

    private enum EventSelection
    {
        One,
        All,
    }

}
