@using System.Diagnostics
@using System.Globalization
@using NodaTime
@using StartSch.Wasm.PersonalCalendars
@inject HttpClient HttpClient
@inject IJSRuntime Js

@if (EditContext is null)
    return;

@{
    var originalEvent = EditContext.EventContext.OriginalEvent;
    var modifiedEvent = EditContext.EventContext.ModifiedEvent;
    List<EventContext> selectedEvents = [EditContext.EventContext];
}

<div class="selected-event">
    <md-icon-button @onclick="@CloseCallback" style="float: right">
        <md-icon>
            close
        </md-icon>
    </md-icon-button>

    <h2>
        @EditContext.EventContext.OriginalEvent.Title
    </h2>
    <ul class="property-list">
        @if (modifiedEvent is { SourceCalendar: PersonalMoodleCalendarLive, Subject: { } subject })
        {
            <li>
                <md-icon>school</md-icon>
                @subject
            </li>
        }
        <li>
            <md-icon>event</md-icon>
            @RenderDateDiff(originalEvent.Start, modifiedEvent.Start)
        </li>
        @if (!string.IsNullOrWhiteSpace(originalEvent.Location) || !string.IsNullOrWhiteSpace(modifiedEvent.Location))
        {
            <li>
                <md-icon>location_on</md-icon>
                @modifiedEvent.Location
            </li>
        }
        @if (modifiedEvent.Teachers is [_, ..])
        {
            <li>
                <md-icon>co_present</md-icon>
                @string.Join(", ", modifiedEvent.Teachers)
            </li>
        }
        @switch (modifiedEvent.SourceCalendar)
        {
            case PersonalMoodleCalendarLive { Url: { } url } when url.IndexOf("/calendar/export_execute.php", StringComparison.InvariantCulture) is var pathStart and not -1:
            {
                var baseUrl = url[..pathStart];
                <li>
                    <md-icon>link</md-icon>
                    <a href="@baseUrl" target="_blank">
                        @originalEvent.SourceCalendar.Name
                    </a>
                    |
                    <a href="@baseUrl/calendar/view.php?view=day&time=@originalEvent.Start.ToUnixTimeSeconds()"
                       target="_blank">
                        Nap megnyitása Moodle-ban
                    </a>
                </li>
                break;
            }
            case PersonalNeptunCalendarLive { Url: { } url } when url.IndexOf("/api/Calendar/CalendarExportFileToSyncronization", StringComparison.InvariantCulture) is var pathStart and not -1:
            {
                var baseUrl = url[..pathStart];
                <li>
                    <md-icon>link</md-icon>
                    <a href="@baseUrl" target="_blank">
                        @originalEvent.SourceCalendar.Name
                    </a>
                </li>
                break;
            }
        }
    </ul>

    <div class="selected-event-settings">
        <div class="section-label">
            Módosítás
        </div>
        @if (EditContext.RelatedEvents is NeptunSeriesEvents neptunSeriesEvents)
        {
            NeptunSeriesTarget neptunSeriesTarget = (NeptunSeriesTarget)_modificationTarget!;
            var selectedDates = neptunSeriesTarget.SelectedDates;
            selectedEvents = EditContext.RelatedEvents.Events
                .Where(x => selectedDates.Contains(x.OriginalEvent.Start))
                .ToList();
            <section class="select-targets">
                <h4>
                    Módosítandó események
                </h4>
                @{
                    _eventSelection = selectedDates.Count == neptunSeriesEvents.Events.Count
                        ? EventSelection.All
                        : selectedDates.Count == 1 && selectedDates.Contains(EditContext.EventContext.OriginalEvent.Start)
                            ? EventSelection.One
                            : null;
                }

                <div style="display: grid; margin-bottom: 16px">
                    <md-chip-set style="display: inline-flex; flex-wrap: nowrap; overflow-x: auto"
                                 @ref="@_seriesSelectionChipSetReference">
                        @foreach (var option in neptunSeriesEvents.Events)
                        {
                            var date = option.OriginalEvent.Start;
                            var isSelected = selectedDates.Contains(date);
                            <md-filter-chip
                                @key="@date"
                                label="@option.ModifiedEvent.Start.InZone(SharedUtils.HungarianTimeZone).ToString("MM. dd. HH:mm", CultureInfo.InvariantCulture)"
                                @onclick="@(() =>
                                          {
                                              if (isSelected) selectedDates.Remove(date);
                                              else selectedDates.Add(date);
                                          })"
                                selected="@isSelected"/>
                        }
                    </md-chip-set>
                </div>
                <connected-button-select value="@_eventSelection" style="max-width: fit-content">
                    <connected-button-select-option
                        value="@EventSelection.One"
                        @onclick="@(() =>
                                  {
                                      selectedDates.Clear();
                                      selectedDates.Add(EditContext.EventContext.OriginalEvent.Start);
                                      _scrollToSoleSelectedEvent = true;
                                  })">
                        Csak ez
                    </connected-button-select-option>
                    <connected-button-select-option
                        value="@EventSelection.All"
                        @onclick="@(() => { selectedDates.UnionWith(neptunSeriesEvents.Events.Select(x => x.OriginalEvent.Start)); })">
                        Mindegyik ebben a sorozatban
                    </connected-button-select-option>
                </connected-button-select>
            </section>
        }

        Kategória
        <div class="option-with-reset-button">
            @{
                bool selectedEventsCategoriesMatch = selectedEvents
                    .Select(e => e.ModifiedEvent.CategoryCalendarOrDefault?.Id)
                    .Distinct()
                    .Count() is 1;
                int? selectedCategoryId = selectedEventsCategoriesMatch
                    ? EditContext.EventContext.ModifiedEvent.CategoryCalendarOrDefault?.Id
                    : null;
            }
            <connected-button-select
                value="@selectedCategoryId"
                @onchange="@(async ev =>
                           {
                               int categoryId = int.Parse((string)ev.Value!);
                               CategoryModification modification = new() { NewCategoryId = categoryId };
                               await AddModification(modification);
                           })">
                @foreach (var category in Categories)
                {
                    <connected-button-select-option @key="@category.Id" value="@category.Id">
                        @category.Name
                    </connected-button-select-option>
                }
            </connected-button-select>
            <ResetButton
                IsVisible="@(selectedEvents.Any(x => x.Modifications.Any(m => m.Action is CategoryModification)))"
                ResetCallback="@(() => RemoveModification(typeof(CategoryModification)))"/>
        </div>

    </div>
</div>

@code {
    private IModificationTarget? _modificationTarget;
    private EventSelection? _eventSelection;
    private ElementReference _seriesSelectionChipSetReference;
    private bool _scrollToSoleSelectedEvent;

    [Parameter, EditorRequired]
    public EventEditContext? EditContext
    {
        get;
        set
        {
            if (field == value)
                return;
            field = value;
            if (value is null)
                return;
            _modificationTarget = value.RelatedEvents switch
            {
                NeptunSeriesEvents neptunSeriesEvents => new NeptunSeriesTarget()
                {
                    SelectedDates = _eventSelection is EventSelection.All
                        ? new(neptunSeriesEvents.Events.Select(x => x.OriginalEvent.Start))
                        : [value.EventContext.OriginalEvent.Start],
                    SubjectAndCourse = neptunSeriesEvents.SubjectAndCourse,
                },
                _ => new CalendarAndEventIdTarget
                {
                    CalendarId = value.EventContext.OriginalEvent.SourceCalendar.Id,
                    EventId = value.EventContext.OriginalEvent.Id,
                },
            };
            _scrollToSoleSelectedEvent = true;
        }
    }

    [Parameter, EditorRequired] public List<PersonalCalendarCategoryLive> Categories { get; set; }
    [Parameter, EditorRequired] public EventCallback CalendarUpdatedCallback { get; set; }
    [Parameter, EditorRequired] public EventCallback CloseCallback { get; set; }
    [Parameter, EditorRequired] public PersonalCalendarContext PersonalCalendarContext { get; set; }

    private async Task AddModification(IModificationAction action)
    {
        PersonalCalendarContext.AddModification(new(
            _modificationTarget?.Clone() ?? throw new UnreachableException(),
            action
        ));
        await SaveConfigAndUpdate();
    }

    private async Task RemoveModification(Type actionType)
    {
        PersonalCalendarContext.RemoveModifications(_modificationTarget!, actionType);
        await SaveConfigAndUpdate();
    }

    private async Task SaveConfigAndUpdate()
    {
        await HttpClient.PutAsJsonAsync(
            "/calendars/personal/config",
            PersonalCalendarContext.GetConfigurationDto(),
            SharedUtils.JsonSerializerOptionsWebWithNodaTime);
        await CalendarUpdatedCallback.InvokeAsync();
    }

    private static RenderFragment RenderDateDiff(Instant original, Instant modified)
    {
        var ogZonedDateTime = original.InZone(SharedUtils.HungarianTimeZone);
        var modZonedDateTime = modified.InZone(SharedUtils.HungarianTimeZone);
        var ogDate = ogZonedDateTime.Date;
        var ogTime = ogZonedDateTime.TimeOfDay;
        var modDate = modZonedDateTime.Date;
        var modTime = modZonedDateTime.TimeOfDay;
        bool datesEqual = ogDate == modDate;
        bool timesEqual = ogTime == modTime;
        if (datesEqual && timesEqual)
            return @<text>@Format(modDate), @Format(modTime)</text>;
        if (!datesEqual && !timesEqual)
            return @<text><sub>@Format(ogDate), @Format(ogTime)</sub> @Format(modDate), @Format(modTime)</text>;
        if (!datesEqual)
            return @<text><sub>@Format(ogDate)</sub> @Format(modDate), @Format(modTime)</text>;
        return @<text>@Format(ogDate), <sub>@Format(ogTime)</sub> @Format(modTime)</text>;
    }

    private static string Format(LocalDate localDate)
    {
        return localDate.ToString("yyyy. MM. dd., ", SharedUtils.HungarianCulture)
               + SharedUtils.GetHungarianName(localDate.DayOfWeek);
    }

    private static string Format(LocalTime localTime)
    {
        return localTime.ToString("HH:mm", SharedUtils.HungarianCulture);
    }

    private enum EventSelection
    {
        One,
        All,
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_scrollToSoleSelectedEvent) return;
        bool successful = await Js.InvokeAsync<bool>("scrollSelectedChipIntoView", _seriesSelectionChipSetReference);
        if (successful)
            _scrollToSoleSelectedEvent = false;
    }

}
