@using System.Globalization
@using NodaTime
@using StartSch.Wasm.PersonalCalendars
@inject HttpClient HttpClient

@if (EditContext != null)
{
    <div class="selected-event">
        <md-icon-button @onclick="@CloseCallback" style="float: right">
            <md-icon>
                close
            </md-icon>
        </md-icon-button>
        @EditContext.EventContext.OriginalEvent.Title

        @{
            var originalEvent = EditContext.EventContext.OriginalEvent;
            var modifiedEvent = EditContext.EventContext.ModifiedEvent;
        }
        <ul>
            <li>
                @{
                    var ogZonedDateTime = originalEvent.Start.InZone(SharedUtils.HungarianTimeZone);
                    var modZonedDateTime = modifiedEvent.Start.InZone(SharedUtils.HungarianTimeZone);
                    var ogDate = ogZonedDateTime.ToString("yyyy. MM. dd., ", SharedUtils.HungarianCulture);
                    ogDate += SharedUtils.GetHungarianName(ogZonedDateTime.DayOfWeek);
                    var ogTime = ogZonedDateTime.ToString("HH:mm", SharedUtils.HungarianCulture);
                    var modDate = modZonedDateTime.ToString("yyyy. MM. dd., ", SharedUtils.HungarianCulture);
                    modDate += SharedUtils.GetHungarianName(modZonedDateTime.DayOfWeek);
                    var modTime = modZonedDateTime.ToString("HH:mm", SharedUtils.HungarianCulture);
                }
                @if (ogDate != modDate)
                {
                    <del>@ogDate</del>
                }
                @modDate
            </li>
            @switch (modifiedEvent.SourceCalendar)
            {
                case PersonalMoodleCalendarLive { Url: { } url } when url.IndexOf("/calendar/export_execute.php", StringComparison.InvariantCulture) is var pathStart and not -1:
                {
                    var baseUrl = url[..pathStart];
                    <li>
                        <a href="@baseUrl" target="_blank">
                            @originalEvent.SourceCalendar.Name
                        </a>
                        |
                        <a href="@baseUrl/calendar/view.php?view=day&time=@originalEvent.Start.ToUnixTimeSeconds()"
                           target="_blank">
                            Nap megnyitása
                        </a>
                    </li>
                    break;
                }
                case PersonalNeptunCalendarLive { Url: { } url } when url.IndexOf("/api/Calendar/CalendarExportFileToSyncronization", StringComparison.InvariantCulture) is var pathStart and not -1:
                {
                    var baseUrl = url[..pathStart];
                    <li>
                        <a href="@baseUrl" target="_blank">
                            @originalEvent.SourceCalendar.Name
                        </a>
                    </li>
                    break;
                }
            }
            @if (modifiedEvent is { SourceCalendar: PersonalMoodleCalendarLive, SubjectId: { } subjectId })
            {
                <li>
                    Tárgykód: @subjectId
                </li>
            }
        </ul>

        <div class="selected-event-settings">
            @if (EditContext.RelatedEvents is [_, ..] series)
            {
                @:Események kiválasztása
                <connected-button-select
                    value="@(_selectedDates.Count == EditContext.RelatedEvents.Count
                               ? EventSelection.All
                               : _selectedDates.Count == 1 && _selectedDates.Contains(EditContext.EventContext.OriginalEvent.Start)
                                   ? EventSelection.One
                                   : null)">
                    <connected-button-select-option
                        value="@EventSelection.One"
                        @onclick="@(() =>
                                  {
                                      _selectedDates.Clear();
                                      _selectedDates.Add(EditContext.EventContext.OriginalEvent.Start);
                                  })">
                        Csak ez
                    </connected-button-select-option>
                    <connected-button-select-option
                        value="@EventSelection.All"
                        @onclick="@(() => { _selectedDates.UnionWith(EditContext.RelatedEvents.Select(x => x.OriginalEvent.Start)); })">
                        Mindegyik ebben a sorozatban
                    </connected-button-select-option>
                </connected-button-select>

                <div
                    style="display: flex; align-items: start; margin-top: 8px; gap: 8px; overflow-x: auto; max-width: 100%; min-width: 0">
                    <span style="font-size: 14px">
                        Kiválasztott:
                    </span>
                    <md-chip-set style="display: inline-flex; flex-wrap: nowrap">
                        @foreach (var option in series)
                        {
                            var date = option.OriginalEvent.Start;
                            var isSelected = _selectedDates.Contains(date);
                            <md-filter-chip
                                @key="@date"
                                label="@option.OriginalEvent.Start.InZone(SharedUtils.HungarianTimeZone).ToString("MM. dd. HH:mm", CultureInfo.InvariantCulture)"
                                @onclick="@(() =>
                                          {
                                              if (isSelected) _selectedDates.Remove(date);
                                              else _selectedDates.Add(date);
                                          })"
                                selected="@isSelected"
                            />
                        }
                    </md-chip-set>
                </div>

                <hr/>
            }

            Kategória módosítása
            <connected-button-select
                value="@EditContext.EventContext.ModifiedEvent.CategoryCalendarId"
                @onchange="@(async ev =>
                           {
                               int categoryId = int.Parse((string)ev.Value!);
                               CategoryModification modification = new() { NewCategoryId = categoryId };
                               await AddModification(modification);
                           })">
                @foreach (var category in Categories)
                {
                    <connected-button-select-option @key="@category.Id" value="@category.Id">
                        @category.Name
                    </connected-button-select-option>
                }
            </connected-button-select>
        </div>
    </div>
}

@code {
    private readonly SortedSet<Instant> _selectedDates = [];

    [Parameter, EditorRequired]
    public EventEditContext? EditContext
    {
        get;
        set
        {
            if (field == value)
                return;
            field = value;
            _selectedDates.Clear();
            if (value == null) return;
            _selectedDates.Add(value.EventContext.OriginalEvent.Start);
        }
    }

    [Parameter, EditorRequired] public List<PersonalCalendarCategoryLive> Categories { get; set; }
    [Parameter, EditorRequired] public EventCallback CalendarUpdatedCallback { get; set; }
    [Parameter, EditorRequired] public EventCallback CloseCallback { get; set; }
    [Parameter, EditorRequired] public PersonalCalendarContext PersonalCalendarContext { get; set; }

    public async Task AddModification(IModificationAction action)
    {
        PersonalCalendarContext.AddModification(new(
            GetTarget(),
            action
        ));
        await HttpClient.PutAsJsonAsync(
            "/calendars/personal/config",
            PersonalCalendarContext.GetConfigurationDto(),
            SharedUtils.JsonSerializerOptionsWebWithNodaTime);
        await CalendarUpdatedCallback.InvokeAsync();
    }

    private IModificationTarget GetTarget()
    {
        var e = EditContext!.EventContext.OriginalEvent;

        if (EditContext.RelatedEvents is [_, ..])
            return new NeptunSeriesTarget
            {
                SelectedDates = new(_selectedDates),
                SubjectAndCourse = new(e.Subject!, e.Course!),
            };

        return new CalendarAndEventIdTarget
        {
            CalendarId = EditContext.EventContext.OriginalEvent.SourceCalendar.Id,
            EventId = EditContext.EventContext.OriginalEvent.Id,
        };
    }

    private enum EventSelection
    {
        One,
        All,
    }

}
