@using System.Text.Json
@using NodaTime
@using NodaTime.Extensions
@inject HttpClient HttpClient
@rendermode InteractiveWebAssemblyWithoutPrerendering

<div class="root">
    <div class="top-bar">
        <expressive-button class="small round @(_applyModifications ? "text" : "primary") standard"
                           @onclick="@(() => _applyModifications = !_applyModifications)">
            @if (_applyModifications)
            {
                @:Eredeti események mutatása
            }
            else
            {
                @:Módosított események mutatása
            }
        </expressive-button>

        <div style="flex-grow: 1"></div>

        <md-icon-button @onclick="@(() => _isSettingsOpen = true)">
            <md-icon>
                settings
            </md-icon>
        </md-icon-button>
    </div>
    <div class="calendar">
        @{
            var events = _context.GetEventsIntersectingRange(_calendarVisibleRange, _applyModifications);
            var fullCalendarEvents = events.Select(eventContext =>
            {
                var e = _applyModifications ? eventContext.ModifiedEvent : eventContext.OriginalEvent;
                var category = e.CategoryCalendar;
                return new FullCalendarEvent(
                    e.Id,
                    e.Start.ToDateTimeOffset(),
                    e.End.ToDateTimeOffset(),
                    e.Title,
                    category?.Color ?? "#000",
                    category?.TextColor ?? "#fff",
                    e.SourceCalendarId
                );
            });
        }
        <calendar-view
            @oncalendarrangechanged="@(ev => _calendarVisibleRange = (ev.Start.ToInstant(), ev.End.ToInstant()))"
            @oncalendareventclicked="@(ev => _editContext = _context.GetEditContext(ev.CalendarId, ev.EventId))"
            events="@JsonSerializer.Serialize(fullCalendarEvents, JsonSerializerOptions.Web)"
        />
    </div>

    <EventSettingsDialog
        Categories="@_categories"
        EditContext="@_editContext"
        PersonalCalendarContext="@_context"
        CalendarUpdatedCallback="@(() => {})"
        CloseCallback="@(() => _editContext = null)"/>
</div>

<MdDialog IsOpen="@_isSettingsOpen" CloseCallback="@(() => { _isSettingsOpen = false; })"
          style="min-width: calc(100vw - 64px); min-height: calc(100vh - 128px)">
    <div slot="content" style="display: flex; flex-direction: column">
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px">
            <div style="display: flex; flex-direction: column; gap: 16px; padding: 16px">
                <PersonalNeptunCalendarGroup
                    NeptunCalendars="@_neptuns"
                    SaveCallback="@Save"
                    DeleteCallback="@Delete"
                    OpenInCalendarCallback="@(() => _isSettingsOpen = false)"/>
                <PersonalMoodleCalendarGroup
                    MoodleCalendars="@_moodles"
                    SaveCallback="@Save"
                    DeleteCallback="@Delete"/>
            </div>
            <PersonalCalendarCategoryGroup
                Categories="@_categories"
                SaveCallback="@Save"
                DeleteCallback="@Delete"/>
        </div>
    </div>
</MdDialog>

@code {
    private string? _encryptionToken;
    private PersonalCalendarContext _context = null!;
    private bool _applyModifications = true;
    private readonly List<PersonalNeptunCalendarLive> _neptuns = [];
    private readonly List<PersonalMoodleCalendarLive> _moodles = [];
    private readonly List<PersonalCalendarCategoryLive> _categories = [];
    private bool _isSettingsOpen;
    private EventEditContext? _editContext;
    private (Instant Start, Instant End) _calendarVisibleRange;

    [Parameter, EditorRequired] public string? InitialEncryptionToken { get; set; }
    [Parameter, EditorRequired] public required PersonalCalendarContextDto InitialContext { get; set; }
    [Parameter, EditorRequired] public required string PublicUrl { get; set; }

    protected override void OnInitialized()
    {
        _encryptionToken = InitialEncryptionToken;
        _context = new(InitialContext);
        foreach (var personalCalendar in InitialContext.Calendars)
        {
            switch (personalCalendar)
            {
                case PersonalNeptunCalendarLive neptunCalendar:
                    _neptuns.Add(neptunCalendar);
                    break;
                case PersonalMoodleCalendarLive moodleCalendar:
                    _moodles.Add(moodleCalendar);
                    break;
                case PersonalCalendarCategoryLive category:
                    _categories.Add(category);
                    break;
            }
        }
    }

    private async Task Save(PersonalCalendarLive calendar)
    {
        // TODO: return URL here
        using var responseMessage = await HttpClient.PutAsJsonAsync(
            $"/calendars/personal?key={_encryptionToken}",
            calendar,
            JsonSerializerOptions.Web);
        responseMessage.EnsureSuccessStatusCode();
        if (calendar.Id == 0)
        {
            var response = await responseMessage.Content.ReadFromJsonAsync<PersonalCalendarLive>(JsonSerializerOptions.Web);
            calendar.Id = response!.Id;
        }

        if (calendar is PersonalCalendarCategoryLive { IcsUrl: null } startSchCalendar)
        {
            using var icsResponse = await HttpClient.GetAsync(
                $"/calendars/personal/{startSchCalendar.Id}/ics-url?key={_encryptionToken}");
            icsResponse.EnsureSuccessStatusCode();
            startSchCalendar.IcsUrl = await icsResponse.Content.ReadAsStringAsync();
        }
    }

    private async Task Delete(PersonalCalendarLive calendar)
    {
        using var response = await HttpClient.DeleteAsync($"/calendars/personal/{calendar.Id}");
        response.EnsureSuccessStatusCode();
    }
}
