@inject IJSRuntime Js

<div class="component"
     style="border: solid 1px var(--md-sys-color-outline); padding: 4px 4px 4px 16px; display: flex; flex-direction: column">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 4px">
        <h3>
            @Title
        </h3>

        <md-icon-button>
            <md-icon>
                settings
            </md-icon>
        </md-icon-button>
    </div>

    <div class="content">
        <div style="display: flex; flex-direction: column; gap: 4px">
            <div style="display: flex; flex-direction: column; gap: 16px">
                @Calendars
            </div>

            <div style="display: flex; justify-content: center">
                <md-icon-button
                    soft-disabled="@(_state != State.Default)"
                    @onclick="@(async () =>
                              {
                                  _state = State.AddDialogOpen;
                                  await Js.InvokeVoidAsync("showDialog", _dialog);
                              })">
                    <md-icon>
                        add
                    </md-icon>
                </md-icon-button>
            </div>
        </div>

        @if (Ports != null)
        {
            <div class="ports">
                @Ports
            </div>
        }
    </div>
</div>

<md-dialog @ref="@_dialog" @onclose="@OnAddDialogClose">
    <div slot="headline">
        @AddDialogHeadline
    </div>
    <form slot="content" id="@_addDialogFormId" method="dialog">
        @AddDialogContent
        <button type="submit" style="display: none;" value="save"></button>
    </form>
    <div slot="actions">
        <md-text-button form="@_addDialogFormId">
            Mégse
        </md-text-button>
        <md-filled-button form="@_addDialogFormId" value="save">
            Mentés
        </md-filled-button>
    </div>
</md-dialog>

@code {
    private readonly Guid _addDialogFormId = Guid.NewGuid();
    
    private State _state = State.Default;
    private ElementReference _dialog;

    [Parameter, EditorRequired] public required string Title { get; set; }
    [Parameter, EditorRequired] public required RenderFragment Calendars { get; set; }
    [Parameter] public RenderFragment? Ports { get; set; }
    [Parameter, EditorRequired] public required RenderFragment AddDialogHeadline { get; set; }
    [Parameter, EditorRequired] public required RenderFragment AddDialogContent { get; set; }
    [Parameter, EditorRequired] public required EventCallback<PersonalCalendarLive> SaveCallback { get; set; }

    private async Task OnAddDialogClose()
    {
        string returnValue = await Js.InvokeAsync<string>("dialogGetReturnValue", _dialog);
       
        if (returnValue == "save")
        {
            _state = State.Saving;
            try
            {
                await SaveCallback.InvokeAsync();
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }

        _state = State.Default;
    }

    private enum State
    {
        Default,
        AddDialogOpen,
        Saving
    }

}
