@{
    _renderedState = IsSelected;
}

<div class="tag-group-toggle" style="margin-top: 4px">
    <label>
        @* `value="@Tag.IsSelected"` doesn't seem to work with checkboxes *@
        <input type="checkbox" @bind="IsSelected"/>
        <span class="chip">@Tag.Id</span>
        @Tag.Data?.Description
    </label>

    @if (Tag.Children != null)
    {
        <div style="margin-left: 7px; padding-left: 12px; border-left: 1px solid var(--md-sys-color-outline-variant)">
            @foreach (var child in Tag.Children.OrderBy(t => t.Id))
            {
                <TagGroupToggle Tag="@child" UpdateParent="@(() => UpdateParent.InvokeAsync())"/>
            }
        </div>
    }
</div>

@code {
    private bool _renderedState;
    protected override bool ShouldRender() => _renderedState != IsSelected;

    [Parameter] public required TagGroup Tag { get; set; }
    [Parameter] public EventCallback UpdateParent { get; set; }

    bool IsSelected
    {
        get => Tag.IsSelected;
        set
        {
            _ = value;
            Tag.Toggle();
            UpdateParent.InvokeAsync();
        }
    }

}