@using Microsoft.Extensions.Caching.Memory
@using StartSch.Components.EmailTemplates
@using StartSch.Services
@inject IDbContextFactory<Db> DbContextFactory
@inject IEmailService EmailService
@inject IMemoryCache Cache
@inject BlazorTemplateRenderer TemplateRenderer
@implements IAsyncDisposable

<div style="display: flex; min-width: 300px; max-width: 500px">
    <section style="background-color: var(--md-sys-color-surface-container-high);
                    padding: 8px 16px; flex: 1;
                    border-radius: 16px">
        <h2 style="font-size: 20px">
            Email
        </h2>

        @if (_latestVerificationTime.HasValue)
        {
            <p style="color: var(--md-sys-color-error)">
                Várj @((_latestVerificationTime.Value.AddSeconds(30) - DateTime.UtcNow).Seconds) másodpercet,
                majd kattints a mentés gombra.
            </p>
        }
        else if (_user is { StartSchEmail: not null, StartSchEmailVerified: false })
        {
            <p style="color: var(--md-sys-color-on-surface-variant)">
                Küldtünk egy ellenőrző emailt a <b>@_user.StartSchEmail</b> címre, kattints a benne található
                linkre az emailcímed módosításához.
            </p>
        }

        <EditForm Enhance Model="@Model" FormName="Email" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            @{
                var disabledValue = _user switch
                {
                    { AuthSchEmail: { } authSchEmail, StartSchEmail: null } => authSchEmail,
                    { StartSchEmail: { } startSchEmail, StartSchEmailVerified: true } => startSchEmail,
                    _ => ""
                };
            }
            <email-input name="Model.Email" value="@Model.Email" disabled-value="@disabledValue" data-permanent/>
        </EditForm>
    </section>
</div>

@code {
    private User? _user;
    private DateTime? _latestVerificationTime;
    private Db _db = null!;

    [SupplyParameterFromForm(FormName = "Email")]
    private EmailFormModel Model { get; set; } = new();

    [CascadingParameter] public required Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _db = await DbContextFactory.CreateDbContextAsync();

        int userId = (await AuthenticationState).User.GetId();
        _user = (await _db.Users.FirstOrDefaultAsync(u => u.Id == userId))!;

        Model.Email ??= _user is { StartSchEmailVerified: true, StartSchEmail: { } startSchEmail }
            ? startSchEmail
            : _user.AuthSchEmail;
    }

    private async Task OnValidSubmit()
    {
        string newEmail = Model.Email!;
        if (newEmail == _user!.StartSchEmail && _user.StartSchEmailVerified)
            return;

        _user.StartSchEmailVerified = false;

        if (newEmail == _user.AuthSchEmail)
        {
            _user.StartSchEmail = null;
            await _db.SaveChangesAsync();
            return;
        }

        _user.StartSchEmail = newEmail;

        string cacheKey = nameof(_latestVerificationTime) + _user!.Id;
        if (Cache.TryGetValue(cacheKey, out _latestVerificationTime))
            return;
        Cache.Set(cacheKey, DateTime.UtcNow, TimeSpan.FromSeconds(30));

        await EmailService.Send(
            new SingleSendRequestDto(
                new("StartSCH", null),
                _user.StartSchEmail,
                "StartSCH email ellenőrzés",
                await RenderEmailVerificationEmail(_user.Id, _user.StartSchEmail)
            )
        );

        await _db.SaveChangesAsync();
    }

    class EmailFormModel
    {
        [EmailAddress] public string? Email { get; set; }
    }

    private async Task<string> RenderEmailVerificationEmail(int userId, string emailAddress)
    {
        EmailVerificationData data = new(userId, emailAddress);
        return await TemplateRenderer.Render<EmailVerificationEmailTemplate>(new()
        {
            { nameof(EmailVerificationEmailTemplate.EmailVerificationData), data }
        });
    }

    public ValueTask DisposeAsync() => _db.DisposeAsync();

}
