<article class="post-preview">
    <header>
        <div class="title">
            <h3>
                <a href="@($"/events/{Event.Id}")">
                    @Event.Title
                </a>
            </h3>

            @if (Event.Id != 0 && !HideAdminControls)
            {
                <AuthorizeView Policy="Write" Resource="@Event">
                    <div class="icon-buttons">
                        <a title="Esemény szerkesztése" href="/events/@Event.Id/edit">
                            <md-icon>
                                edit
                            </md-icon>
                        </a>
                        <a title="Új alesemény"
                           href="/events/0/edit?categories=@(string.Join(',', Event.Categories.Select(c => c.Id)))&parent=@Event.Id">
                            <md-icon>
                                calendar_add_on
                            </md-icon>
                        </a>
                        <a title="Új poszt"
                           href="/posts/0/edit?categories=@(string.Join(',', Event.Categories.Select(c => c.Id)))&event=@Event.Id">
                            <md-icon>
                                chat_add_on
                            </md-icon>
                        </a>
                    </div>
                </AuthorizeView>
            }
        </div>

        <ul class="label-list">
            <li>
                <CategoryList Categories="@Event.Categories"/>

                <div class="label">
                    <md-icon>event</md-icon>
                    <DateDisplay Date="@Event.Start" End="@Event.End" Now="@_utcNow" />
                </div>
            </li>


            @if (Event.Parent != null && !ParentKnown)
            {
                <li>
                    <div class="label">
                        <md-icon>event</md-icon>
                        <a href="/events/@Event.Parent.Id" class="clip-text" style="max-width: 320px">
                            @if (Event.Parent.Start.HasValue
                                 && (Event.Parent.End ?? Event.Parent.Start.Value.AddHours(4)) > _utcNow)
                            {
                                <text>
                                    <DateDisplay Date="@Event.Parent.Start" Now="@_utcNow" />:
                                </text>
                            }
                            @Event.Parent.Title
                        </a>
                    </div>
                </li>
            }
        </ul>
    </header>

    <div class="body">
        @((MarkupString)_content.HtmlExcerpt)
    </div>
</article>

@code {
    [Parameter, EditorRequired] public required Event Event { get; set; }
    private TextContent _content = null!;
    private readonly DateTime _utcNow = DateTime.UtcNow;

    [Parameter] public bool HideAdminControls { get; set; }
    [Parameter] public bool ParentKnown { get; set; }
    [Parameter] public int? KnownPageId { get; set; }

    protected override void OnParametersSet()
    {
        _content = new(Event.DescriptionMarkdown ?? "", null);
    }

}
