<article class="post-preview">
    <header>
        <div class="title">
            <h3>
                <a href="@($"/events/{Event.Id}")">
                    @Event.Title
                </a>
            </h3>

            @if (Event.Id != 0 && !HideAdminControls)
            {
                <AuthorizeView Policy="Write" Resource="@Event">
                    <div class="icon-buttons">
                        <a title="Esemény szerkesztése" href="/events/@Event.Id/edit">
                            <icon>
                                edit
                            </icon>
                        </a>
                        <a title="Új alesemény"
                           href="/events/0/edit?groups=@(string.Join(',', Event.Groups.Select(g => g.Id)))&parent=@Event.Id">
                            <icon>
                                calendar_add_on
                            </icon>
                        </a>
                        <a title="Új poszt"
                           href="/posts/0/edit?groups=@(string.Join(',', Event.Groups.Select(g => g.Id)))&event=@Event.Id">
                            <icon>
                                chat_add_on
                            </icon>
                        </a>
                    </div>
                </AuthorizeView>
            }
        </div>

        <ul class="label-list">
            <li>
                @foreach (var group in Event.Groups)
                {
                    if (group.Id == KnownGroupId)
                        continue;
                    <GroupChip Group="@group"/>
                }

                <div class="label">
                    <icon>event</icon>
                    <DateDisplay DateUtc="@Event.StartUtc"/>
                </div>
            </li>


            @if (Event.Parent != null && !ParentKnown)
            {
                <li>
                    <div class="label">
                        <icon>event</icon>
                        <a href="/events/@Event.Parent.Id" class="clip-text" style="max-width: 320px">
                            @if ((Event.Parent.EndUtc ?? Event.Parent.StartUtc.AddHours(4)) > DateTime.UtcNow)
                            {
                                <text>
                                    <DateDisplay DateUtc="@Event.Parent.StartUtc"/>:
                                </text>
                            }
                            @Event.Parent.Title
                        </a>
                    </div>
                </li>
            }
        </ul>
    </header>

    <div class="body">
        @((MarkupString)_content.HtmlExcerpt)
    </div>
</article>

@code {
    [Parameter, EditorRequired] public required Event Event { get; set; }
    private TextContent _content = null!;

    [Parameter] public bool HideAdminControls { get; set; }
    [Parameter] public bool ParentKnown { get; set; }
    [Parameter] public int? KnownGroupId { get; set; }

    protected override void OnParametersSet()
    {
        _content = new(Event.DescriptionMarkdown ?? "", null);
    }

}
