@{
    bool isDraft = Post.Published == null && !HideAdminControls;
}

<Card>
    @if (isDraft)
    {
        <div style="display: flex; justify-content: end; color: var(--md-sys-color-error)">
            Vázlat
        </div>
    }
    <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 8px; margin-bottom: 8px">
        <CategoryList Categories="@Post.Categories"/>

        <div class="label" style="font-size: 12px">
            @if (isDraft)
            {
                <span style="color: var(--md-sys-color-error); font-weight: bold">
                    Vázlat
                </span>
            }
            else
            {
                <DateDisplay Date="@Post.Published"/>
            }
        </div>
    </div>
    <header>
        <div class="title">
            <h3>
                <a href="@($"/posts/{Post.Id}")">
                    @Post.Title
                </a>
            </h3>

            @if (!HideAdminControls)
            {
                <AdminButtonsForPost Post="@Post"/>
            }
        </div>

    </header>

    <div class="body">
        @((MarkupString)_content.HtmlExcerpt)
    </div>
    <ul class="label-list">
        <li>
        </li>

        @if (Post.Event != null && !EventKnown)
        {
            <li>
                <div class="label">
                    <md-icon>event</md-icon>
                    <a href="/events/@Post.Event.Id" class="clip-text" style="max-width: 300px">
                        @if (Post.Event.Start.HasValue
                             && (Post.Event.End ?? Post.Event.Start.Value.Plus(Duration.FromHours(4))) > _currentInstant)
                        {
                            <text>
                                <DateDisplay Date="@Post.Event.Start"/>:
                            </text>
                        }
                        @Post.Event.Title
                    </a>
                </div>
            </li>
        }
    </ul>
</Card>

@code {
    private TextContent _content = null!;
    private readonly Instant _currentInstant = SystemClock.Instance.GetCurrentInstant();

    [Parameter, EditorRequired] public required Post Post { get; set; }
    [Parameter] public bool HideAdminControls { get; set; }
    [Parameter] public bool EventKnown { get; set; }
    [Parameter] public int? KnownPageId { get; set; }

    protected override void OnParametersSet()
    {
        _content = new(Post.ContentMarkdown ?? "", Post.ExcerptMarkdown);
    }

}
